h1 {
  /* 文字の色 */
  color : #ff0000;
  /* 文字の大きさ */
  font-size:40px;
  /* 文字の種類 */
  font-family:serif;
  /* height of the content area */
  height:80px;
  /* width */
  width:200px;
}

p {
  color :#0000ff;
  font-size:20px;
  font-family:"Lucida Grande";
}

img {
  height:50px;
  width:70px;
}

li {
  color: #444;
  /* disable list markars */
  list-style:none;
  /* box float */
  float:left;
  /* padding T&B L&R */
  padding:33px 20px;
}
/* "." class */
.selected{
  color:#ff0000;
}

body{
  font-family:"Avenir Next";
}
/*div class*/
.header{
  /* background */
  background:#f7f2b4;
  height:90px;
  padding:20px 40px;
}
.header-logo {
  font-size: 36px;
  float:left;
}
/* li in .header-list */
.header-list li{
  float: left;
  padding: 33px 20px;
}
.main{
  background:#bdf7f1;
  height:600px;
}
.footer{
  background:#ceccf3;
  height:270px;
}

.section-title{
  /* border */
  border-bottom:2px solid #dee7ec;
}
.contents {
  height: 500px;
  /* margin-top */
  margin-top:100px;
  margin-bottom:50px;
  margin-right:40px;
  
  /* shorthands padding */
  padding-bottom:15px;
  padding-top:100px;
}
/* setting any items */
input, textarea{
  width:400px;
  margin-top:10px;
  margin-bottom:30px;
  padding:20px;
  font-size:18px;
  border:1px solid #dee7ec;
}